NEXT_PUBLIC_SUPABASE_URL=https://zpddlphtoeluytrejioj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=replace-with-anon-key
NEXT_PUBLIC_SITE_URL=https://predictiv.co.za
GOOGLE_PLACES_API_KEY=replace-with-key
